body {
    background-color: #14151b;
    color:#ffffff;
}

a:visited, a:hover, a:link {
    color: #ffffff;
}

.justify-center {
    justify-content: center;
    text-align: center;
}

.justify-end {
    justify-content: flex-end;
}

.jumbotron {
    padding: 3rem 2rem !important;
    margin: 0;
    background-color: #131313;
    border-radius: 0;
    border-top: solid  rebeccapurple;
    border-bottom: solid  rebeccapurple;
    text-align: center;
    text-shadow:
        1px 1px 0 #000,
        1px 1px 0 #000,
        1px 1px 0 #000,
        1px 1px 0 #000;
}

#hero {
    background-color: #131313 !important;
    padding-top: 20px;
    padding-bottom: 80px;
}

#tag-line {
    color: #bbbbbb;
}

.nav-secondary {
    padding-bottom: 75px;
    justify-content: left;
}

#secondary-nav .nav-link {
    padding: .5rem .5rem !important;
}

#commands th, #commands tr, #commands td {
    color: #ffffff !important;
    border-color: #1b1e21;
}

#commands td {
    color: #aaaaaa !important;
}

.bg-dark {
    background-color: #212121 !important;
}

.curvy {
    padding: 10px;
    border-radius: 5px;
}

.h2-font {
    font-size: 2rem;
}

.btn {
    padding: .1rem .85rem !important;
}

/* Ad */

.ad-container {
    min-height: 90px;
}

/* Ad Cards */

.guilds {
    text-align: center;
}

.guild-col {
    display: inline-block;
    max-width: 24%;
    text-align: left;
}

.card-img-top {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ddd
}

.card-icon {
    width: 45%;
    margin: 20px;
    padding: 2px;
    border: 2px solid #ddd
}

.guild-body {
    background-color: #eeeeee;
    color: #000;
    border-top-color: #1b1e21;
}

.guild-name {
    margin-bottom: 40px;
}

.guild-member-count {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.guild-member-count img {
    vertical-align: text-bottom !important;
}

/* command nav */

.side-bar {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 20%;
    background-color: #1b1e21;
    list-style: none;
}

.list-header {
    padding-top: 10px;
    color: #aaaaaa;
    text-align: center;
}

.list-item {
    padding-left: 10px;
}
