body {
    background-color: #14151b;
    color:#ffffff;
}

a:visited, a:hover, a:link {
    color: #ffffff;
}

.justify-center {
    justify-content: center;
    text-align: center;
}

.justify-end {
    justify-content: flex-end;
}

#hero {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.hero-body {
    display: flex;
    align-items: center;
}

.top-stick {
    position: absolute;
    top: 0;
}

#tag-line {
    color: #bbbbbb;
}

.nav-secondary {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: left;
}

#secondary-nav .nav-link {
    padding: .5rem .5rem !important;
}

#commands th, #commands tr, #commands td {
    color: #ffffff !important;
    border-color: #1b1e21;
}

#commands td {
    color: #aaaaaa !important;
}

.bg-dark {
    background-color: #212121 !important;
}

.curvy {
    padding: 10px;
    border-radius: 5px;
}

.h2-font {
    font-size: 2rem;
}

.btn {
    padding: .1rem .85rem !important;
}

.row {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Ad */

.ad-container {
    min-height: 90px;
}

/* Ad Cards */

.guilds {
    text-align: center;
    flex-flow: wrap;
}

.guild-col {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.guild-col > .card {
    max-width: 208px !important;
    min-width: 208px !important;
}

.card-img-top {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.card-icon {
    width: 45%;
    margin: 20px;
    padding: 2px;
    border: 2px solid #ddd
}

.guild-body {
    background-color: #eeeeee;
    color: #000;
    border-top-color: #1b1e21;
}

.guild-name {
    margin-bottom: 40px;
}

.guild-member-count {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.guild-member-count img {
    vertical-align: text-bottom !important;
}

.vote-col {
    justify-content: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 15px;
}

.vote-col > .card {
    display: inline-block;
    margin-top: 0 !important;
    min-width: 360px !important;
}

.vote-col > .col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.vote-col > .card:nth-child(1) {
    margin-left: 0 !important;
}

.vote-col > .card:nth-child(3) {
    margin-right: 0 !important;
}

.dimmed-text {
    color: #bbbbbb;
}

/* command nav */

.side-bar-header {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-width: 147px;
    min-width: 147px;
    background-color: #212121;
    list-style: none;
}

.list-header {
    padding-top: 10px;
    color: #aaaaaa;
    text-align: center;
}

.list-item {
    padding-left: 10px;
}

.side-bar-content {
    padding: 10px;
}
